@model IEnumerable<ProjetoDeLabWeb.Models.PreferemRestaurante>

@{
    ViewData["Title"] = "ErroPrecisaEstarLogado";
}

<h1>Você não tem permisões para adicionar restaurantes aos favoritos</h1>
<br />
<a>Se quiser adicionar restaurantes aos favoritos por favor faça login.</a>
<br />
<a>Caso não tenha conta faça registo no nosso site.</a>
