@model ProjetoDeLabWeb.Models.PratoDoDia
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit";
}

@if (Context.Session.GetString("categoria") == "Admin")
{
    <h1>Edit</h1>

    <h4>PratoDoDia</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdPratoDoDia" />
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input asp-for="Foto" class="form-control" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaDaSemana" class="control-label"></label>
                    <input asp-for="DiaDaSemana" class="form-control" />
                    <span asp-validation-for="DiaDaSemana" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataPrato" class="control-label"></label>
                    <input asp-for="DataPrato" class="form-control" />
                    <span asp-validation-for="DataPrato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tipo" class="control-label"></label>
                    <input asp-for="Tipo" class="form-control" />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RestauranteId" class="control-label"></label>
                    <select asp-for="RestauranteId" class="form-control" asp-items="ViewBag.RestauranteId"></select>
                    <span asp-validation-for="RestauranteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


}
else
{
    <h1>Você não tem autorização para aceder a esta página</h1>
}
